# kickstart file for base guest vm
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_TW.UTF-8

# Network information
network  --bootproto=static --device=eth0 --onboot=yes --activate --ip=192.168.30.30 --netmask=255.255.255.0 --nodefroute --nodns --noipv6
network  --bootproto=static --device=eth1 --onboot=yes --activate --ip=10.5.5.5 --gateway=10.5.0.1 --netmask=255.255.0.0 --nameserver=8.8.8.8,8.8.4.4 --noipv6
network  --hostname=localhost.localdomain

# Root password
# python -c 'import crypt; print crypt.crypt("CentOS7", "$6$redhat$")'
# $6$redhat$.O3Z6UPOU3gnfX6rgPHqpsp88lMnYQAK2jsXQIDAH1HcuXZfNS/ownqOMI1QPsnHaJeuC7zKKnq9FIagEI8o51
rootpw --iscrypted $6$redhat$.O3Z6UPOU3gnfX6rgPHqpsp88lMnYQAK2jsXQIDAH1HcuXZfNS/ownqOMI1QPsnHaJeuC7zKKnq9FIagEI8o51

# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Taipei --isUtc --nontp
user --groups=wheel --name=sysadmin --password=$6$redhat$.O3Z6UPOU3gnfX6rgPHqpsp88lMnYQAK2jsXQIDAH1HcuXZfNS/ownqOMI1QPsnHaJeuC7zKKnq9FIagEI8o51 --iscrypted --gecos="sysadmin"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda

%packages
@^virtualization-host-environment
@base
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Set up ssh key
su - sysadmin -c 'mkdir -m0700 /home/sysadmin/.ssh/'
su - sysadmin -c 'cat <<EOF > /home/sysadmin/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC3/YSrmo/3+UW6Yz2KwZWvUmvLL+CEKJfhGtDkM2jVp/biaZa/IbxxOtKekQPyRtOE4/kzz5d4CELS7Ub/B2aZYU2IoLxFR/I9BXQccRlCnNKAtrp/WNH7g2Dxlx8T9ZqkB2x5hXaF1qpZCfLaxvwFxZrDg1sCEY9EXv+i6SrqYHuySuYRg4whtpCHEgNDFXrQh95/As1Z4vHbBq939Pezv35tewK0Gz/62UE/9w2QTCYT10/2hzW6uEh5FerpFbqGVFdAaArrG76hGeUdCxfX0qnFx/96QWhHkRcfRb7DRx6wAHDbbcgew5FTvNmqQJ463txthXS+qwLbwxK4/IY9zLLWfD6XR0gctvXAiKsz0Yc1zQEddfQVh/PvDff9MHCYu8z0ZX8qEzfj2bLJ+bLTsSiK7Ga3PO9DIz5aGBHYADWCodj3h2Y/QoLZCKPtaPCtH5VmMCzTe6oxdNIvfsFU1Gi/Ex+QrNurYBVt0juEAvqcZ2EmFu85sUY/5BxSLDS8cC542wajEVtKEIvvnVgNAw1UYALG0dOPlBO4Ycjt7enWhnSU5q+hYa6SN5fuGSMi1lFkdPWsNUGwnnXBzOCQmyKAE7xO3/sdn6CDBNeO43WSdS+IQTQboxiCHmDe5lTKMt7HyQF21cBo/uG07hoGXZFSH1jmLJNI/zkphCcV1w== connect to wslab via x250
EOF'
su - sysadmin -c 'chmod 0600 /home/sysadmin/.ssh/authorized_keys'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
